{erl_opts, [debug_info]}.
{deps, []}.

{cover_enabled, true}.
{cover_opts, [verbose]}.
{dialyzer, [{warnings, [underspecs]}]}.

{project_plugins, [rebar3_proper]}.

{profiles,
    [{test, [
        {deps, [
            {proper, {git, "https://github.com/proper-testing/proper.git", {branch, "master"}}}
        ]}
    ]}
]}.
